name: chess

services:
    online-chess:
        image: ghcr.io/mostafamoknaa/chess-server
        # build: ./server
        restart: unless-stopped
        ports:
            - 3100:3000/tcp
            - 4100:4000/tcp

        environment:
            - DATABASE_URL=postgresql://postgres:postgres@postgresql:5432/postgres?schema=public
            - SECRET_KEY=supersecret
            - RESEND_API_KEY=dummy
            - RESEND_EMAIL=dummy@example.com
            - REDIS_URL=redis://redis:6379
            - NODE_ENV=production
            - PORT=3000
            - SOCKET_PORT=4000

        command: sh -c "npx prisma migrate deploy && npm run start"


    postgresql:
        image: bitnami/postgresql:latest
        restart: unless-stopped
        ports:
            - "5434:5432/tcp"
        volumes:
            - pg-data:/bitnami/postgresql
        environment:
            - POSTGRESQL_PGAUDIT_LOG=READ,WRITE
            - POSTGRESQL_LOG_HOSTNAME=true
            - POSTGRESQL_REPLICATION_MODE=master
            - POSTGRESQL_REPLICATION_USER=repl_user
            - POSTGRESQL_REPLICATION_PASSWORD=repl_user
            - POSTGRESQL_USERNAME=postgres
            - POSTGRESQL_PASSWORD=postgres
            - POSTGRESQL_DATABASE=postgres
        labels:
            - "com.centurylinklabs.watchtower.enable=false"

    redis:
        image: bitnami/redis:latest
        restart: unless-stopped
        ports:
            - "6381:6379/tcp"
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
        labels:
            - "com.centurylinklabs.watchtower.enable=false"


volumes:
    pg-data:
